{deps, [
        {lasp_support, ".*", {git, "git://github.com/lasp-lang/lasp_support.git", {tag, "0.0.2"}}},
        {time_compat, ".*", {git, "git://github.com/lasp-lang/time_compat.git", {tag, "0.0.2"}}},
        {lager, ".*", {git, "git://github.com/erlang-lager/lager.git", {tag, "3.6.3"}}},
        {riak_dt, ".*", {git, "git://github.com/basho/riak_dt.git", {tag, "2.1.0"}}},
        {eleveldb, ".*", {git, "https://github.com/basho/eleveldb.git", {branch, "2.2"}}}
       ]}.

{overrides, [{override, eleveldb, [
                        {deps, [
                                {cuttlefish, ".*", {git, "git://github.com/timadorus/cuttlefish.git", {branch, "fix-export-all-warning"}}}
                               ]},

                        %% make elevedb build with rebar3. See: https://github.com/erlang/rebar3/issues/801
                        {artifacts, ["priv/eleveldb.so"]},
                        {pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                                              {compile, "c_src/build_deps.sh"}]},

                        {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},

                        {plugins, [pc]},

                        {provider_hooks, [ {post, [ {compile, {pc, compile}},
                                                                     {clean, {pc, clean}}
                                                                   ]}]
                        }
                   ]}
]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.
{xref_checks, [undefined_function_calls]}.
{erl_opts, [debug_info,
%%             warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
